@CHARSET "UTF-8";
/******* GENERAL RESET *******/

.mainDiv{
    font-family: Tahoma;
    font-size:12px;
    width:600px;
    margin-left: 10%;
}

fieldset {
    border:1px solid #998c86;    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;    
    margin-top:15px;
}
legend {
    margin-left:30px;
    padding:10px;
    color: #ff6d06;
    font-size:12px;
}

 .TRdiv input, select, textarea{
    width:225px;
    border:solid 1px #DFDFDF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-left:15px;
}
.TRdiv input:focus, select:focus, textarea:focus {
    border:1px solid #ff6d06;    
}

input[type="submit"]  {    
    border:1px solid #998c86;    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;  
    padding: 5px 5px 5px 5px;
}

input[type="submit"]:hover {
    border:1px solid #ff6d06;
    cursor: pointer;
}


 
.lol {
    background-color: #fdd7d7;
}

/******* Transip Records *******/
div.curFocus {
    background: #a9ef96;
}


label {
    width:100px;
    float:left;
    text-align:right;
    padding:4px 15px 0 0;
    color: #333333;
    
}
.TRdiv {
    width:365px;
    _width:355px;
    clear:both;
    padding:10px 0 10px 0;
    _padding:5px 0 5px 0;
    color:#a53d17;

}


.req {
    margin-left: 2px;
    color: #ff6d06;
    font-size:12px;
    float:right;

}

.minHead {

    font-size: medium;

}

.leftAlDiv {
    width:425px;

    position: relative;
    float: left;


}

.rightAlDiv {
    width:425px;
    position: relative;

    float: right;
}





.radioResidences {
    width:365px;    
}
.radioResidence {
    float:left;
}

.radioResidence input { 
    margin-left: 15px;
    margin-bottom:10px;
    margin-right:15px;
}
.radioResidence label {
    margin-right:10px;
}

.alCenterDiv {
    width:100%;
    position: relative;
    float: left;
}

.mainDiv p,ul,li {
    margin-left: 25px;
    margin-bottom:10px;
}

.radioExams {
    margin-left: 25px;
    margin-bottom:10px;
}
.mainDiv table {
    width: 365px;
    margin-left:15px;
    margin-bottom: 15px;
    
}
.mainDiv th,tr {
    text-align: center;
}

.mainDiv td {
    width: 200px;
    height:50px;
}

.events a {
    color:#ff6d06;
}

.linkResidence a {
    color:#ff6d06;
}

.mainDiv img {
    margin-left:25px;
    margin-bottom:25px;
}

a:hover  {
   color:#ff6d06;
   cursor: pointer;
}

/* Application form */


#pending, #approved, #denied {
    width: 570px;
    height: auto;
    padding: 15px 15px 15px 15px;
    background-color: white;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#pending {
    border: 1px solid #ff6d06;
    color: #ff6d06;
}

#approved {
    border: 1px solid green;
    color: green;
}

#denied {
    border: 1px solid red;
    color: red;
}

.eval input[type="checkbox"] {
   margin-right: 25px;
   margin-left:25px;
   margin-bottom: 10px;
   
    
}

.password a {
    color:#ff6d06;
    margin-left:100px;
}






/* button  CSS*/

