@CHARSET "UTF-8";
/******* GENERAL RESET *******/

.mainDiv{
    font-family: Tahoma;
    font-size:12px;
    width:600px;
    margin-left: 10%;
}

fieldset {
    border:1px solid #998c86;    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;    
}
legend {
    margin-left:30px;
    padding:10px;
}

 .TRdiv input, select, textarea{
    width:225px;
    border:solid 1px #DFDFDF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.TRdiv input:focus, select:focus, textarea:focus {
    border:1px solid #ff6d06;    
}

input[type="submit"]  {    
    border:1px solid #998c86;    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;  
}

input[type="submit"]:hover {
    border:1px solid #ff6d06;
}


 
.lol {
    background-color: #fdd7d7;
}

/******* Transip Records *******/
div.curFocus {
    background: #a9ef96;
}


label {
    width:100px;
    float:left;
    text-align:right;
    padding:4px 15px 0 0;
    color: #333333;
    
}
.TRdiv {
    width:365px;
    _width:355px;
    clear:both;
    padding:10px 0 10px 0;
    _padding:5px 0 5px 0;
    color:#a53d17;

}


.req {
    margin-left: 2px;
    color: #ff6d06;
    font-size:12px;
    float:right;

}

.minHead {

    font-size: medium;

}

.leftAlDiv {
    width:425px;

    position: relative;
    float: left;


}

.rightAlDiv {
    width:425px;
    position: relative;

    float: right;




}
.alCenterDiv {
    width:100%;
    position: relative;
    float: left;
}


input.radio
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
        
}

label.description
{
	border:none;
	color:#222;
	display:block;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}
.radioResidences span
{    
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}
.radioResidences {
    width:300px;
}

#pending, #approved, #denied {
    background-color: white;
    color:  #ff6d06;
    width: 600px;
    height: 30px;
    border: 1px solid  #ff6d06;
    text-align: center;
    padding-top: 10px;
}

#approved {
    border: 1px solid  green;
    color:  green;
}

#denied {
    border: 1px solid  red;
    color: red;
}


/* button  CSS*/

