       .suggestionsBox, .suggestionsBox2, .suggestionsBox3, .suggestionBox {
		position: relative;
		left: 0px;
		margin: 0px 0px 0px 0px;
		width: auto;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
	}
	
	.suggestionList, .suggestionList2, .suggestionList3, .suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList li, .suggestionList2 li, .suggestionList3 li, .suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover, .suggestionList2 li:hover, .suggestionList3 li:hover, .suggestionList li:hover {
		background-color: #659CD8;
        }