@CHARSET "UTF-8";
/******* GENERAL RESET *******/
.accomodationList{
    width: 350px;
    padding-top: 20px;
}

.aHead {
    padding-top: 15px;
    padding-left: 10px;
    font-size: medium;
}

.spleft label{
    padding-top: 4px;
    vertical-align: middle;
}

.errorPHP {
    position:relative;
    background: #f0d3d3;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
}
.SuccessPHP {
    position:relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
    font-weight: bold;
    background-color: #ccffcc;
}
.mainDiv{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size:12px;
    display: block;
}


.TRDiv table {
    text-align: center;
}

.TRdiv input{
    font-size:12px;
    border:solid 1px #aacfe4;


}


/******* Transip Records *******/
div.curFocus {
    background: #a9ef96;
}


/* CSS for Transcript Of Records (select.tpl & vselect.tpl)*/

.selDiv th tr {
    font-size: small;
}


/* CSS for Transcript Of Records (main.tpl & mainRecords.tpl)*/
.spright {
    padding-left: 150px;
    font-size:small;
    font-size: 15px;

}
.spleft {
    display: block;
    position:absolute;
    width: 120px;
    text-align: right;

}
.minHead {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: medium;


}
.rightAlDiv {
    width:50%;
    position: relative;
    float: right;
}

.leftAlDiv {
    width:50%;
    position: relative;
    float: left;}

.inerDiv {
    width:95%;
}
.alCenterDiv {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 2%;
}
.alCenterDiv2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.centerTableHeader {
    width:100px;
    text-align: center;
    padding-bottom: 1%;
}
.min {

    width:200px;


}
.buttonPanel {
    display:inline-block;
    text-align: center;
    width:100%;
    vertical-align: middle;
}
.small {
    text-align: center;
    float: left;
    width: 150px; 
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-right-color: #00ff00;
    border-left-color: #00ff00;
    border-bottom-color: #00ff00;
    border-top-color: #00ff00;
    vertical-align: middle;
    padding-bottom: 1%;
    border-top-width: 1px;
}

.backbtn {
    float :right;
}
/* button  CSS*/

.buttonPro {

    background-image: url(../img/nextBtn.png);
    width: 20px;
    height: 20px;
    text-align: left;
    border: none;

}

.buttonLook  {
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    background: transparent;
    border: none;

    font-size: small;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    font-weight: bold;
    cursor: default;
}



acomDiv {
    display:block;
    background: #000; 

}